# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/../../../../../../../../../../:\Users\huacl\OneDrive\NJUPT\大二下课程\JAVA程序设计\大作业\JumpJump\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
